<div class="one-journal-shell">
  <div class="shell-content">
    <div class="history-navigation">
      <a class="backward" title="{{localize 'ONEJOURNAL.HistoryBackwardHint'}}">
        <i class="fas fa-caret-left"></i>
      </a>
      <a class="forward" title="{{localize 'ONEJOURNAL.HistoryForwardHint'}}">
        <i class="fas fa-caret-right"></i>
      </a>
    </div>
    <div class="placeholder">
      {{localize 'ONEJOURNAL.Placeholder'}}&nbsp;
      <i class="fas fa-expand-arrows-alt"></i>
    </div>
  </div>
  <div class="shell-sidebar"></div>
  <div class="sidebar-toggle" title="{{localize 'ONEJOURNAL.SidebarShow'}}">
    <i class="far fa-window-maximize"></i>
  </div>
</div>
